[submodule "vendor/agent-skills"]
	path = vendor/agent-skills
	url = https://github.com/addyosmani/agent-skills.git
[submodule "vendor/superpowers"]
	path = vendor/superpowers
	url = https://github.com/obra/superpowers.git
[submodule "vendor/openspec"]
	path = vendor/openspec
	url = https://github.com/Fission-AI/OpenSpec.git
